aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alembic
alpha_vantage
annotated-doc
annotated-types
anyio
appdirs
attrs
backoff
bcrypt
beautifulsoup4
bidict
build
cachetools
certifi
cffi
cfgv
charset-normalizer
chromadb
click
colorama
crewai
crewai-tools
langchain-openai
cryptography
curl_cffi
decorator
defusedxml
deprecation<2.1.0
diskcache
distlib
distro
docker
docstring_parser
durationpy
ecdsa
et_xmlfile
fastapi
filelock
finnhub-python
flatbuffers
frozendict
frozenlist
fsspec
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface_hub
identify
idna
importlib_metadata
importlib_resources
iniconfig
instructor
Jinja2
jiter
json5
json_repair
jsonref
jsonschema
jsonschema-specifications
kubernetes
lancedb
lxml
Mako
markdown-it-py
MarkupSafe
mcp
mdurl
mmh3
mpmath
multidict
multitasking
networkx
nodeenv
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
fredapi
pandas-ta-classic
passlib
pdfminer.six
pdfplumber
peewee
pillow
platformdirs
pluggy
portalocker
posthog
pre_commit
propcache
protobuf
py
pyarrow
pyasn1
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pylance
PyMuPDF
pypdfium2
PyPika
pyproject_hooks
pytest
pytest-asyncio
python-dateutil
python-docx
python-dotenv
python-engineio
python-jose
python-multipart
python-socketio
pytube
pytz
pywin32
PyYAML
ratelimiter
redis
referencing
regex
requests
requests-oauthlib
retry
rich
rpds-py
rsa
safetensors
semver
sentencepiece
shellingham
simple-websocket
six
sniffio
soupsieve
SQLAlchemy
sse-starlette
starlette
sympy
tenacity
tiktoken
tokenizers
tomli
tomli_w
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
urllib3
uv
uvicorn
virtualenv
watchfiles
websocket-client
websockets
wsproto
yarl
yfinance
youtube-transcript-api
zipp
